* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: 'Inter', sans-serif;
}

/* NAVBAR */
.navbar {
position: fixed;
width: 100%;
top: 0;
padding: 20px 60px;
display: flex;
justify-content: space-between;
background: rgba(0,0,0,0.7);
color: white;
}

.navbar nav a {
margin: 0 10px;
color: white;
text-decoration: none;
}

.btn-nav {
background: orange;
padding: 8px 15px;
border-radius: 20px;
color: white;
}

/* HERO */
.hero {
height: 100vh;
background: linear-gradient(#0b1d16, #1f4d35);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: white;
}

.badge {
border: 1px solid orange;
padding: 5px 10px;
display: inline-block;
margin-bottom: 10px;
}

.hero h1 {
font-size: 70px;
}

.hero span {
color: orange;
}

.buttons {
margin-top: 20px;
}

.btn {
padding: 10px 20px;
margin: 5px;
border-radius: 20px;
text-decoration: none;
}

.primary {
background: orange;
color: white;
}

.secondary {
border: 1px solid white;
color: white;
}

/* SEZIONI */
.section {
padding: 100px 20px;
text-align: center;
}

.light {
background: #f5f5f5;
}

.dark {
background: #0b1d16;
color: white;
}

.container {
max-width: 1000px;
margin: auto;
}
